@model Treats.Models.Flavor

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
    @Html.Label("Flavor Type:")
    @Html.TextBoxFor(model => model.FlavorType)

    @Html.Label("Select Treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Add new item" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>